@use 'variables' as *;



footer{

    .footer_top{
        background-image: url('/img/footer-bg.jpg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .container{
            display: flex;
            gap:2rem;
            background-image: url('/img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-position: right;

            .col{
                padding-top:2.5rem;
                padding-bottom:2.5rem;
            }
        }
        h3{
            text-transform: uppercase;
            padding-bottom:1rem;
            color:$light;
        }
        li{
            font-size: $fs_sm;
            color:$clr_hash;
            padding-top:0.25rem;
            padding-bottom:0.25rem;
        }
        .shop{
            margin-top:1rem;
        }
       
    }

    .footer_bottom{
        background-color: $bg_dark;
        padding-top:2rem;
        padding-bottom:2rem;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
                text-transform: uppercase;
                color:$light;
                background-color:$bg_dark;
                padding: 0.75rem 0.65rem;
                border: 2px solid $primary_color
            }
            .follow{
                text-transform: uppercase;
                color:$primary_dark;
                font-weight: bold;
            }
            .social{
                display: flex;                align-items: center;

                .follow{
                    padding-right: 1rem;
                }
                img{
                    background-color:$dark;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    width:30px;
                    margin-inline: 0.5rem;
                }

            }
        }
    }
}
