@use 'variables' as *;

header{
    height:150px;
    background-color: red;

    .container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo{
        width:30%;
        height:300px;
        background-color: blue;
    }
    .navbar{
        background-color: green;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }
}

