@use 'variables' as *;

main {

    .content{
        background-color: $dark;
        color:$light;

        .jumbotron{
            height:400px;
            background-image: url('/img/jumbotron.jpg');
            background-size: cover;
        }
        .container{
            display: flex;
            flex-wrap: wrap;
            padding-top:0.5rem;
            padding-bottom:0.5rem;
        }
        .card{
            padding:1rem 0.75rem;

            .card-img{
                aspect-ratio: 1;
                width: 150px;
            }
            .card-title{
                padding-top: 0.5rem;
            }
        }
    }

    .features{
        background-color: $primary_color;
    
        .container{
            display: flex;
            justify-content: space-around;
            padding-top:2rem;
            padding-bottom:2rem;
         }
         img{
            width:40px;
        }
        .card{
            display: flex;
            align-items: center;
        
            span{
                padding-left:0.5rem;
                text-transform: uppercase;
                font-size: $fs_md;
                color:$light;
            }
            #locator{
                width:30px;
            }
        }
    }
        
}
