@use './assets/scss/partials/header';
@use './assets/scss/partials/main';


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Verdana';
    font-weight: bolder;
}
.container{
    max-width: 1140px;
    margin:0 auto;
}
img{
    width: 100%;
}